<!DOCTYPE html>
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <style>
      * { margin: 0; padding: 0; }
      body {
          display: flex;
          flex-direction: column;
          align-content: center;
          justify-content: center;
          min-width: 100vw;
          min-height: 100vh;
      }
      div {
          width: 100%;
          text-align: center;
      }
      .number {
          position: relative;
          font-size: 15vw;
          font-weight: bold;
      }
      .text span {
          font-size: 4vw;
      }
  </style>
</head>
<body>
  <div class="number">Error</div>
  <div class="text"><span>error</span></div>
</body>
</html>
